@config "../../cfg/tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-inline {
    display: inline-block;
}

.plasmo-csui-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}